# Created by .ignore support plugin (hsz.mobi)
.idea/
docker-data/.DS_Store
docker-data/gitlab/.DS_Store
docker-data/gitlab/logs/*
docker-data/gitlab/config/*
docker-data/gitlab/data/*
docker-data/seafile/*
docker-data/mysql/*
/docker-data/conf/fronted-nginx/logs/access.log
/docker-data/conf/fronted-nginx/logs/error.log
/docker-data/conf/backed-nginx/logs/access.log
/docker-data/conf/backed-nginx/logs/error.log
